PORT = 5000
DB_USERNAME = yuvabitcoin1
DB_PASSWORD = bqHGU4Ar01Q60PzU
JWT_SECRET_KEY = YuvaBitcoin



AZURE_STRING = DefaultEndpointsProtocol=https;AccountName=azureyuvacoin;AccountKey=TlBPnxlggxIRenUH7KxiXyXZiTyoCy3xZQj2guD/OLSdBF4JhWgrfQ5L2/PYLf8q1/dbOQPcCMzA+AStn0TTsA==;EndpointSuffix=core.windows.net
AZURE_CONTAINER = yuvacoincontainer


// DB Link
const URL = `mongodb+srv://${username}:${password}@yuvabitcoin.x9wljy5.mongodb.net/?retryWrites=true&w=majority&appName=yuvabitcoin`



//admin's credentials
{
  "email": "admin@gmail.com",
  "password": "123@admin"
}
